{% from "fields_show.html" import show_fields %}
{{ show_fields(page.fields) }}

<div class="task_info">

	<div class="user_edit">
		<div class="edit">
				<a href="{{ url_for('sections.full_page', page_id=page.id) }}">{{ _('View')}}</a>
		</div>
		{% if current_user.roles[0].name == "Admin" %}
			<div class="edit">
					<a href="{{ url_for('sections.edit_page', page_id=page.id) }}">{{ _('Edit')}}</a>
			</div>
			<div class="delete">
					<a href="{{ url_for('sections.delete_page', page_id=page.id, next = request.path) }}">{{ _('Delete page')}}</a>	
			</div>
		{% endif %}  
	</div>

</div>