{% extends "base.html" %}

{% block content %}

	{% for user in users %}
	
			<div id="user">
		
				<div class="avatar">
						<img src="{{ user.avatar() }}">
				</div>
				
				<div class="user_info">
				
						<div class="real_name">
								<div class="label">
										{{_("Full name")}}:
								</div>
								<div class="info">
										{{user.last_name}} {{user.first_name}}
								</div>
						</div>
				
						<div class="user_name">
								<div class="label">
										{{_('Email')}}:
								</div>
								<div class="info">
										<a href="{{ url_for('users.user', id=user.id) }}">{{ user.email }}</a>
								</div>
						</div>
						
						{% if user.roles %}
							<div class="user_role">
									<div class="label">
											{{ _('Role')}}:
									</div>
									<div class="info">
											{{_(user.roles[0].name)}}
									</div>
							</div>	
						{% endif %}
						{% if user.roles[0].name == 'Not confirmed' %}
						<div class="user_edit">
							<div class="edit">
									<a href="{{ url_for('users.confirm_user', id=user.id) }}">{{ _('Confirm')}}</a>
							</div>	
						</div>
						{% else %}
							<div class="user_edit">
									<div class="edit">
											<a href="{{ url_for('users.edit_user', id=user.id) }}">{{ _('Edit')}}</a>
									</div>
									<div class="delete">
											<a href="{{ url_for('users.delete_user', user_id=user.id) }}">{{ _('Delete user')}}</a>
									</div>
							</div>
						{% endif %}
				
				</div>				
			
			</div>
			

		
	{% endfor %}

    
{% endblock %}
