{% extends "base.html" %}

{% block content %}
    <h1>{{ _('Edit Profile') }}</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        
        <p>
         	<img src="{{ user.avatar() }}" width="128" height="128">
        </p> 
        
        <p>
		     <b>{{ form.picture.label() }}</b>: 
		     {{ form.picture() }}
		     {% if form.picture.errors %}
				  <p>
		            {% for error in form.picture.errors %}
		                 <span style="color: red;">{{ error }}</span></br>
		            {% endfor %}
		        </p>
           {% endif %}
        </p>
        {% if current_user.roles and current_user.roles[0].name == "Admin" %}
		     <p>
		         <b>{{ form.email.label }}</b>: {{ form.email(size=32) }}<br>
		         {% for error in form.email.errors %}
		         <span style="color: red;">[{{ error }}]</span>
		         {% endfor %}
		     </p>
		     <p>
		         <b>{{ form.role_list.label }}</b>: {{ form.role_list() }} <br>
		         {% for error in form.role_list.errors %}
		         <span style="color: red;">[{{ error }}]</span>
		         {% endfor %}
		     </p>		  
		{% endif %}
		
		{% include "fields.html" %}

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
