{% extends "base.html" %}

{% block content %}
		
		<div id="user">
		
				<div class="avatar">
						<img src="{{ user.avatar() }}">
				</div>
				
				<div class="user_info">
				
						<div class="real_name">
								<div class="label">
										{{_('Full name')}}:
								</div>
								<div class="info">
										{{current_user.last_name}} {{current_user.first_name}}
								</div>
						</div>
				
						<div class="user_name">
								<div class="label">
										{{_('Email')}}:
								</div>
								<div class="info">
										{{ user.email }}
								</div>
						</div>

						{% if user.roles %}
							<div class="user_role">
									<div class="label">
											{{ _('Role')}}:
									</div>
									<div class="info">
											{{_(user.roles[0].name)}}
									</div>
							</div>
						{% endif %}
						
						
						{% if user.last_seen %}
						<div class="last_session">
								<div class="label">
										{{ _('Last seen on')}}:
								</div>
								<div class="info">
										{{ moment(user.last_seen).format('LLL') }}
								</div>
						</div>
						{% endif %}
						
				</div>
		
		</div>
		{% if user.roles %}
			<div class="user_edit">
				<div class="edit">
						<a href="{{ url_for('users.edit_user', id=user.id) }}">{{ _('Edit')}}</a>
				</div>
				{% if current_user.roles[0].name == "Admin" %}
					<div class="delete">
							<a href="{{ url_for('users.delete_user', user_id=user.id) }}">{{ _('Delete user')}}</a>
					</div>
				{% endif %}
			</div>
		
			<div class="tasks">
				{% if current_user.roles[0].name == "Admin" %}
						<h3> {{ _('All tasks related with that user')}} </h3>
						{% for task in tasks %}
								{% include '_task.html' %}
						{% endfor %}
				{% endif %}
			</div>
		{% endif %}
    
{% endblock %}
