<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/js/dynamic_fields.js"></script>

{# Form templates #}

{% macro render_html(field_type) %}
	<label for="{{field_type}}_fields-___-{{field_type}}">{{_(label)}}</label>

	{% if field_type=="text" %}
		<input id="text_fields-___-text" name="text_fields-___-text" type="text" value="">

	{% elif field_type=="textArea" %}
		<textarea id="textArea_fields-___-textArea" name="textArea_fields-___-textArea"></textarea>

	{% elif field_type=="date" %}
		<input id="date_fields-___-date" name="date_fields-___-date" type="date" value="">

	{% elif field_type=="link" %}
		<input id="link_fields-___-link" name="link_fields-___-link" type="text" value="">

	{% elif field_type=="number" %}
		<input id="number_fields-___-number" name="number_fields-___-number" type="text" value="">

	{% elif field_type=="file" %}
		<input id="file_fields-___-file" name="file_fields-___-file" type="file">
		<input id="file_fields-___-filename" name="file_fields-___-filename" type="hidden">
		<input id="file_fields-___-encrypted_filename" name="file_fields-___-encrypted_filename" type="hidden">
		<select id="file_fields-___-file_type" name="file_fields-___-file_type">
			<option value="1">Счёт фактура</option>
			<option value="2"> Не счёт фатура </option>
			<option value="3"> Что-то ещё </option>
		</select>

	{% elif field_type=="picture" %}
		<input id="picture_fields-___-picture" name="picture_fields-___-picture" type="file">
		<input id="picture_fields-___-filename" name="picture_fields-___-filename" type="hidden">
		<input id="picture_fields-___-encrypted_filename" name="picture_fields-___-encrypted_filename" type="hidden">

	{% elif field_type=="categories" %}
		<div id="categories-___">
			<a id="add_category" href="#">{{_('Add category')}}</a>
			
		</div>
	{% endif %}

{% endmacro %}

{% macro render_html_field(field_type, label) %}
   <div style="display: none;" id="{{field_type}}_fields-___-form" data-index="___">		
	   <label for="{{field_type}}_fields-___-label_">{{_('Label')}}</label>:
	   <input id="{{field_type}}_fields-___-label_" name="{{field_type}}_fields-___-label_" type="text" value=""> 
	   
	   {{ render_html(field_type) }}

	   <label for="{{field_type}}_fields-___-is_displayed">{{_('Display')}}</label>
	   <input checked id="{{field_type}}_fields-___-is_displayed" name="{{field_type}}_fields-___-is_displayed" type="checkbox" value="y"> 
   
	   <input id="{{field_type}}_fields-___-order" name="{{field_type}}_fields-___-order" type="hidden">

	   <a class="remove" href="#">{{_('Remove')}}</a>
   </div>
{% endmacro %}

{{render_html_field("text", "Text") }}
{{render_html_field("textArea", "Text area") }}
{{render_html_field("date", "Date") }}
{{render_html_field("link", "Link") }}
{{render_html_field("file", "File") }}
{{render_html_field("picture", "Picture") }}
{{render_html_field("number", "Number") }}
{{render_html_field("categories", "Categories") }}


<div style="display: none;" id="categories_fields-xxx-categories-___-category-form" data-index="___">		
	<input id="categories_fields-xxx-categories-___-category" name="categories_fields-xxx-categories-___-category" type="text" value="">
	<a class="remove" href="#">{{_('Remove')}}</a>
</div>