<hr>
<table>
	<tr valign="top">
		<td>
			<img src="{{ task.assigner.avatar() }}" width="50" height="50">
		</td>

		<td>
			<a href="{{ url_for('user', username=task.assigner.username) }}">
				{{ task.assigner.username }}
			</a>
			<br>
			<b>Assigned to: </b> 
			<a href="{{ url_for('user', username=task.acceptor.username) }}">
				{{ task.acceptor.username }}
			</a>
			<br>
			<b>Status:</b> {{ task.status }} 
			<br>
			<b>Issued time:</b> {{ task.timestamp.strftime('%-d %B %Y at %-H:%-M') }}
		</td> 

		{% if current_user.roles[0].name == "Admin" %}	
			<td>
				<a href="{{ url_for('edit_task', task_id=task.id) }}">
					<b>Edit</b>
				</a>
			</td> 
			<td>
				<a href="{{ url_for('delete_task', task_id=task.id, next = request.path) }}">
					<b>Delete task</b>
				</a>			
			</td>   
		{% endif %}  
	</tr>
</table>
{% for content in task.media %}
	<p>
		{% if content.text %}
			{{ content.text }}
		{% elif content.date %}
			{{ content.date.strftime('%-d %B %Y') }}
		{% elif content.filename %}
			<a href="{{ url_for('download_file', filename = content.encrypted_filename) }}">
				<b>{{ content.filename }}</b>
			</a>
		{% endif %}
	</p>
{% endfor %}
<hr>
