<div id="task_full">
{% for content in task.media %}
	
		<div id="task">
				<div class="label">
						{{content.label}}
				</div>
				<div class="info">
					{% if content.text %}
						{% if is_link(content.text) %}
							<a href="{{ append_http(content.text) }}">
								{{ content.text }}
							</a>
						{% else %}
							{{ content.text }}
						{% endif %}
					{% elif content.textArea %}
						{{ content.textArea }}
					{% elif content.date %}
						{{ content.date.strftime('%d %B %Y') }}
					{% elif content.filename %}
							<a href="{{ url_for('download_file', filename = content.encrypted_filename) }}">
								<b>{{ content.filename }}</b>
							</a>
					{% elif content.picture %}
							<img src="{{ url_for('static',filename = 'files/' + content.encrypted_filename) }}" width="200" height="200">
					{% elif content.link %}
							<a href="{{ append_http(content.link) }}">
								{{ content.link }}
							</a>
					{% endif %}
				</div>
				
		</div>
		
{% endfor %}
</div>

<div class="task_info">

		<div class="avatar">
				<img src="{{ task.assigner.avatar() }}">
		</div>
		
		<div class="user_name">
				<a href="{{ url_for('user', id=task.assigner.id) }}">{{ task.assigner.email }}</a> | {{ _('Assigned to:')}} <a href="{{ url_for('user', id=task.acceptor.id) }}">{{ task.acceptor.email }}</a>
		</div>
		
		<div class="task_status">
				<div class="label">
						{{ _('Status:')}}
				</div>
				<div class="info">
						{{ _(task.status)}}
				</div>
		</div>

		<div class="task_issuid_time">
				<div class="label">
						{{ _('Issued time:')}}
				</div>
				<div class="info">
						{{ task.timestamp.strftime('%d %B %Y at %H:%M') }}
				</div>
		</div>
							
		<div class="user_edit">
				{% if current_user.roles[0].name == "Admin" %}
				<div class="edit">
						<a href="{{ url_for('edit_task', task_id=task.id) }}">{{ _('Edit')}}</a>
				</div>
				<div class="delete">
						<a href="{{ url_for('delete_task', task_id=task.id, next = request.path) }}">{{ _('Delete task')}}</a>	
				</div>
				{% endif %}  
		</div>

</div>