{% extends "base.html" %}

{% block content %}

     <form method="post" enctype="multipart/form-data">
			{{ form.hidden_tag() }}
			
	      <hr>
			{% for field in extra_fields %}
			 	 <p>
					{% if field.type not in ['CSRFTokenField', 'HiddenField'] %}
						{{ field.label }}  
						{{ field() }}
						{% if field.type != "TextField" %}
							<hr>
						{% endif %}
					{% endif %}
					
					{% for error in field.errors %}
			     	 	<span style="color: red;">[{{ error }}]</span>
			      {% endfor %}
				 </p>  
			{% endfor %}
       <p> Assign to: {{ form.user_list() }} </p>
       <p>{{ form.submit() }}</p>
		<hr>
     </form>

{% endblock %}



