{% extends "base.html" %}

{% block content %}
<div id="create_task">

	{% if title %}
		<h3>{{ title }} </h3>
	{% endif %}
	
		<form action="" method="post" enctype="multipart/form-data">
				{{ form.hidden_tag() }}

				{% if edit_task %}
				<div class="line">
						<div class="assigner">
								<div class="label">
										{{ form.assigner.label }}:
								</div>
								<div class="info">
										{{ form.assigner() }}
								</div>
						</div>
						<div class="acceptor">
								<div class="label">
										{{ form.acceptor.label }}:
								</div>
								<div class="info">
										{{ form.acceptor() }}
						</div>
						<div class="status">
								<div class="label">
										{{ form.status.label }}:
								</div>
								<div class="info">
										{{ form.status() }}
								</div>
				{% else %}
						<div class="acceptor">
								<div class="label">
										{{ form.acceptor.label }}:
								</div>
								<div class="info">
										{{ form.acceptor() }}
						</div>
				</div>
				{% endif %}

				{% for field, label in extra_fields %}
						{% if field.type not in ['CSRFTokenField', 'HiddenField'] %}
						<div class="line"> 
								<div class="label">
										{{ label.label }}
								</div>
								<div class="info">

										{{ field() }} 

										{% if (field.type == "FileField") and (field.label.text['filename']) %}
											<a href="{{ url_for('download_file', filename = field.label.text['encrypted_filename']) }}">{{ field.label.text['filename'] }}</a>
										{% endif %}
								</div>
						</div>
						{% endif %}

						{% for error in field.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
				{% endfor %}
				
				{% for error in form.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
				
				<div class="btn">
						{{ form.submit() }}
				</div>
		</form>

</div>
{% endblock %}
