{% extends "base.html" %}

{% block content %}
	{% if title %}
		<h1>{{ title }} </h1>
	{% endif %}
	<form action="" method="post" enctype="multipart/form-data">
		{{ form.hidden_tag() }}

		{% if edit_task %}
		  <p>
				{{ form.assigner.label }}: {{ form.assigner() }}<br>
		  </p>
		  <p>
				{{ form.acceptor.label }}: {{ form.acceptor() }}<br>
		  </p>
		  <p>
				{{ form.status.label }}: {{ form.status() }}<br>
		  </p>
		{% else %}
			<p>
				{{ form.acceptor.label }}: {{ form.acceptor() }}<br>
			</p>
		{% endif %}

		{% for field, label in extra_fields %}
		 	
				{% if field.type not in ['CSRFTokenField', 'HiddenField'] %}
					<p>Label: {{ label() }}</p>
					<p>
						{% if (field.type != "FileField") %}
							{{ field.label }}: 
						{% else %}
							{{ field.label.text['label'] }}:
						{% endif %}

						{{ field() }} 

						{% if (field.type == "FileField") and (field.label.text['filename']) %}
							<a href="{{ url_for('download_file', filename = field.label.text['encrypted_filename']) }}">
								<b>{{ field.label.text['filename'] }}</b>
							</a>
						{% endif %}
					</p>  
				{% endif %}

				{% for error in field.errors %}
				 	<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			
		{% endfor %}
		
		{% for error in form.errors %}
	  	 	<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
		<p> {{ form.submit() }}</p>
	</form>

{% endblock %}
