{% extends "base.html" %}

{% block content %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>

	function changeIndex(form, oldIndex, newIndex){
		form.attr('id', form.attr('id').replace(oldIndex, newIndex));
		form.attr('data-index', form.attr('data-index').replace(oldIndex, newIndex));

		form.find('label').each(function(idx) {
			var $item = $(this);
			$item.attr('for', $item.attr('for').replace(oldIndex, newIndex));

		});

		form.find('input').each(function(idx) {
			var $item = $(this);
			$item.attr('id', $item.attr('id').replace(oldIndex, newIndex));
			$item.attr('name', $item.attr('name').replace(oldIndex, newIndex));
		});
		form.find('textarea').each(function(idx) {
				var $item = $(this);
				$item.attr('id', $item.attr('id').replace(oldIndex, newIndex));
				$item.attr('name', $item.attr('name').replace(oldIndex, newIndex));
		});

	}
		
	function adjustIndices(removedIndex, class_) {

	
		var $forms = $('.'+class_);
		$forms.each(function(i) {
			var $form = $(this);
			var index = parseInt($form.attr('data-index'));
			var newIndex = index - 1;
			if (index < removedIndex) {
				// Skip
				return true;
			}

			changeIndex($form, index, newIndex);
		});
	}


	function removeForm() {
		var class_ =$(this).parent().attr('class');
		var $removedForm = $(this).closest('.'+class_);
		var removedIndex = parseInt($removedForm.attr('data-index'));

		var total_removedIndex;
		$removedForm.find("[name$=-order]").each(function(idx) {
			total_removedIndex = $(this).val()
		});

		$removedForm.remove();

		// Change order index
		var $all_forms = $("#fields-container").children()
		$all_forms.each(function(i) {
			var $form = $(this);
			var index;
			$form.find("[name$=-order]").each(function(idx) {
				index = $(this).val()
			});
			var newIndex = index - 1;
			if (index < total_removedIndex) {
				// Skip
				return true;
			}
			$form.find("[name$=-order]").each(function(idx) {
				$(this).val(newIndex)
			});
		});

		// Update indices
		adjustIndices(removedIndex, class_);
	}

	function addForm(e) {
		e.preventDefault();
		var field_type = $("#fields_list").children("option:selected").val();
		var id_ = 0;
		var class_ = 0;
		if (field_type === "Text"){
			id_ = "text_fields-___-form"
			class_ = "text_fields"
		}
		else if (field_type === "TextArea"){
			id_ = "textArea_fields-___-form"
			class_ = "textArea_fields"
		}
		else if (field_type === "Date"){
			id_ = "date_fields-___-form"
			class_ = "date_fields"
		}
		else if (field_type === "Link"){
			id_ = "link_fields-___-form"
			class_ = "link_fields"
		}
		else if (field_type === "File"){
			id_ = "file_fields-___-form"
			class_ = "file_fields"
		}
		else if (field_type === "Picture"){
			id_ = "picture_fields-___-form"
			class_ = "picture_fields"
		}
		var $templateForm = $('#'+id_);
		var $lastForm = $('.'+class_).last();
		var newIndex = 0;
		if ($lastForm.length > 0) {
			newIndex = parseInt($lastForm.data('index')) + 1;
		} 

		var $newForm = $templateForm.clone();

		var numFields = $('#fields-container').children('div').length
		$newForm.find('#'+class_+'-___-order').val(numFields)

		changeIndex($newForm, '___', newIndex);

		$('#fields-container').append($newForm);
		$newForm.addClass(class_);
		$newForm.css('display', 'flex');

		$newForm.find('.remove').click(removeForm);
	}

	$(document).ready(function() {
		$('#add_field').click(addForm);
		$('.remove').click(removeForm);
	});
</script>


	<form method="post">
		{{ form.hidden_tag() }}
		<p>{{add_field_form.fields_list.label}}: {{add_field_form.fields_list()}}</p>
		{{add_field_form.add_field}}
		
		{% for error in add_field_form.errors %}
					<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
	</form>
	
     <form method="post" enctype="multipart/form-data">
		{{ form.hidden_tag() }} 
		{{ text_form.hidden_tag() }}
		{{ textArea_form.hidden_tag() }}
		
		<p>{{ form.name.label}}: {{ form.name() }}</p>
		
		{% include "fields.html" %}

	   <p>{{ form.submit() }}</p>
	   {% for error in form.errors %}
	  		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
     </form>

	 
	 {# Form templates #}
	
	 {% macro render_html_field(field_type, label) %}
		<div style="display: none;" id="{{field_type}}_fields-___-form" data-index="___">		
			<label for="{{field_type}}_fields-___-label_">Label</label>:
			<input id="{{field_type}}_fields-___-label_" name="{{field_type}}_fields-___-label_" type="text" value=""> 

			<label for="{{field_type}}_fields-___-{{field_type}}">{{label}}</label>
			{% if field_type=="text" %}
				<input id="text_fields-___-text" name="text_fields-___-text" type="text" value=""> 
			{% elif field_type=="textArea" %}
				<textarea id="textArea_fields-___-textArea" name="textArea_fields-___-textArea"></textarea> 
			{% elif field_type=="date" %}
				<input id="date_fields-___-date" name="date_fields-___-date" type="date" value="">
			{% elif field_type=="link" %}
				<input id="link_fields-___-link" name="link_fields-___-link" type="text" value=""> 
			{% elif field_type=="file" %}
				<input id="file_fields-___-file" name="file_fields-___-file" type="file">
				<input id="file_fields-___-filename" name="file_fields-___-filename" type="hidden">
				<input id="file_fields-___-encrypted_filename" name="file_fields-___-encrypted_filename" type="hidden">				
			{% elif field_type=="picture" %}
				<input id="picture_fields-___-picture" name="picture_fields-___-picture" type="file">
				<input id="picture_fields-___-filename" name="picture_fields-___-filename" type="hidden">
				<input id="picture_fields-___-encrypted_filename" name="picture_fields-___-encrypted_filename" type="hidden">
			{% endif %}
			
			<label for="{{field_type}}_fields-___-is_displayed">Display</label>
			<input checked id="{{field_type}}_fields-___-is_displayed" name="{{field_type}}_fields-___-is_displayed" type="checkbox" value="y"> 
		
			<input id="{{field_type}}_fields-___-order" name="{{field_type}}_fields-___-order" type="hidden">

			<a class="remove" href="#">Remove</a>
		</div>
	{% endmacro %}

	{{render_html_field("text", "Text") }}
	{{render_html_field("textArea", "Text area") }}
	{{render_html_field("date", "Date") }}
	{{render_html_field("link", "Link") }}
	{{render_html_field("file", "File") }}
	{{render_html_field("picture", "Picture") }}

{% endblock %}