{% extends "base.html" %}

{% block content %}

		<form method="post">
			{{ form.hidden_tag() }}
			<p>{{add_field_form.fields_list.label}}: {{add_field_form.fields_list()}}</p>
	      <p>{{add_field_form.add_field()}}</p>
	      
			{% for error in add_field_form.errors %}
			     	 	<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</form>
	
     <form method="post" enctype="multipart/form-data">
			{{ form.hidden_tag() }}
			<p>{{ form.name.label}}: {{ form.name() }}</p>
			{% for field in extra_fields %}
			 	 <p>
					{% if field.type not in ['CSRFTokenField', 'HiddenField'] %}
						{% if (field.type != "FileField") %}
							{{ field.label }}
						{% endif %}
						{{ field() }} 
						{% if (field.type == "FileField") and (field.label) %}
						<a href="{{ url_for('download_file', filename = field.label.encrypted_filename) }}">
							<b>{{ field.label.filename }}</b>
						</a>
					{% endif %} 
						<a href="{{ url_for('delete_field_in_template', field_id = field.id) }}">
							<b>Delete</b>
						</a>
					{% endif %}
					{% for error in field.errors %}
			     	 	<span style="color: red;">[{{ error }}]</span>
			      {% endfor %}
			      
				 </p>  
			{% endfor %}
			
			{% for error in form.errors %}
			     	 	<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
			
       <p>{{ form.submit() }}</p>
     </form>
     
{% endblock %}



