{% extends "base.html" %}

{% block content %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
	/**
		* Adjust the indices of form fields when removing items.
		*/
	function adjustIndices(removedIndex) {
		var $forms = $('.field');

		$forms.each(function(i) {
			var $form = $(this);
			var index = parseInt($form.data('index'));
			var newIndex = index - 1;

			if (index < removedIndex) {
				// Skip
				return true;
			}

			$form.attr('id', $form.attr('id').replace(index, newIndex));
			$form.attr('data-index', $form.attr('data-index').replace(index, newIndex));

			$form.find('label').each(function(idx) {
				var $item = $(this);
				$item.attr('for', $item.attr('for').replace(index, newIndex));

			});

			$form.find('input').each(function(idx) {
				var $item = $(this);
				$item.attr('id', $item.attr('id').replace(index, newIndex));
				$item.attr('name', $item.attr('name').replace(index, newIndex));
			});
			$form.find('textarea').each(function(idx) {
				var $item = $(this);
				$item.attr('id', $item.attr('id').replace(index, newIndex));
				$item.attr('name', $item.attr('name').replace(index, newIndex));
			});
		});
	}


	function removeForm() {
		var $removedForm = $(this).closest('.field');
		var removedIndex = parseInt($removedForm.data('index'));
		$removedForm.remove();

		// Update indices
		adjustIndices(removedIndex);
	}

	function addForm(e) {
		e.preventDefault();

		var $templateForm = $('#field-_-form');
		var $lastForm = $('.field').last();
		var newIndex = 0;
		if ($lastForm.length > 0) {
			newIndex = parseInt($lastForm.data('index')) + 1;
		} else { newIndex = 0; }

		var $newForm = $templateForm.clone();
		var field_type = $("#fields_list").children("option:selected").val();
		
		var new_field;
		if (field_type === "Text"){
			new_field = `<label style = "order: 3;" for="fields-_-text">Text:</label>
			<input style = "order: 4;" id="fields-_-text" name="fields-_-text" type="text" value="">
			`;
		}
		else if (field_type === "TextArea"){
			new_field = `<label style = "order: 3;" for="fields-_-textArea">Text area:</label>
			<textarea style = "order: 4;" id="fields-_-textArea" name="fields-_-textArea"></textarea>
			`;
		}
		else if (field_type === "Date"){
			new_field = `<label style = "order: 3;" for="fields-_-date">Date:</label>
			<input style = "order: 4;" id="fields-_-date" name="fields-_-date" type="date" value="">
			`;
		}
		else if (field_type === "File"){
			new_field = `<label style = "order: 3;" for="fields-_-file">File:</label>
			<input style = "order: 4;" id="fields-_-file" name="fields-_-file" type="file">
			`;
		}
		else if (field_type === "Picture"){
			new_field = `<label style = "order: 3;" for="fields-_-picture">Picture:</label>
			<input style = "order: 4;" id="fields-_-picture" name="fields-_-picture" type="file">
			`;
		}
		else if (field_type === "Link"){
			new_field = `<label style = "order: 3;" for="fields-_-link">Link:</label>
			<input style = "order: 4;" id="fields-_-link" name="fields-_-link" type="link" value="">
			`;
		}
		$newForm.append(new_field);
		$newForm.attr('id', $newForm.attr('id').replace('_', newIndex));
		$newForm.attr('data-index', $newForm.attr('data-index').replace('_', newIndex));

		$newForm.find('label').each(function(idx) {
			var $item = $(this);
			$item.attr('for', $item.attr('for').replace('_', newIndex));

		});

		$newForm.find('input').each(function(idx) {
			var $item = $(this);
			$item.attr('id', $item.attr('id').replace('_', newIndex));
			$item.attr('name', $item.attr('name').replace('_', newIndex));
		});
		$newForm.find('textarea').each(function(idx) {
				var $item = $(this);
				$item.attr('id', $item.attr('id').replace('_', newIndex));
				$item.attr('name', $item.attr('name').replace('_', newIndex));
		});

		$('#fields-container').append($newForm);
		$newForm.addClass('field');
		$newForm.css('display', 'flex');

		$newForm.find('.remove').click(removeForm);
	}


	$(document).ready(function() {
		$('#add_field').click(addForm);
		$('.remove').click(removeForm);
	});
</script>



	<form method="post">
		{{ form.hidden_tag() }}
		<p>{{add_field_form.fields_list.label}}: {{add_field_form.fields_list()}}</p>
		{{add_field_form.add_field}}
		
		{% for error in add_field_form.errors %}
					<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
	</form>
	
     <form method="post" enctype="multipart/form-data">
		{{ form.hidden_tag() }} {{ fields_form.hidden_tag() }}
		<p>{{ form.name.label}}: {{ form.name() }}</p>
		
		<div id="fields-container">
			{% for field_form in fields_form.fields %}
				<div id="field-{{ loop.index0 }}-form" class="field" data-index="{{ loop.index0 }}">
					{% for field in field_form %}
						{% if (field.type == "FileField") %}
							{{ field.label.text['label'] }}:
							{% if (field.label.text['filename']) %}
								<a href="{{ url_for('download_file', filename = field.label.text['encrypted_filename']) }}">
									<b>{{ field.label.text['filename'] }}</b>
								</a>
							{% endif %}
						{% else %}
							{{ field.label }}:
						{% endif %}

						{{ field() }} 

						{% for error in field.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					{% endfor %}
				</div>
				<a class="remove" href="#">Remove</a>
			{% endfor %}
		</div>	

	   <p>{{ form.submit() }}</p>
	   {% for error in form.errors %}
	  		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
     </form>

	 
	 {# Form template #}
	 <div style="display: none;" id="field-_-form" data-index="_">
		 <label style = "order: 1;" for="fields-_-label">Label: </label>
		 <input style = "order: 2;" id="fields-_-label" name="fields-_-label" type="text" value="">
		 <label style = "order: 5;" for="fields-_-is_displayed">Display: </label>
		 <input style = "order: 6;" id="fields-_-is_displayed" name="fields-_-is_displayed" type="checkbox" value="y">
		 <a style = "order: 7;" class="remove" href="#">Remove</a>
	 </div>

{% endblock %}




<!-- <p>Label: <input id="label0" name="label0" type="text" value=""></p>
<p>
	<label for="0">Text</label>: 
	<input id="0" name="0" type="text" value=""> 
	<a href="http://127.0.0.1:5000/delete_field_in_template/?template_id=-1&amp;field_id=0">
		<b>Delete</b>
	</a>
</p>
	
<p>Label: <input id="label1" name="label1" type="text" value=""></p>
<p>	
	<label for="1">Text area</label>: 
	<textarea id="1" name="1"></textarea> 
	<a href="http://127.0.0.1:5000/delete_field_in_template/?template_id=-1&amp;field_id=1">
		<b>Delete</b>
	</a>
</p>


<p>Label: <input id="label2" name="label2" type="text" value=""></p>
<p>
	<label for="2">Date</label>: 
	<input id="2" name="2" type="date" value=""> 
	<a href="http://127.0.0.1:5000/delete_field_in_template/?template_id=-1&amp;field_id=2">
		<b>Delete</b>
	</a>
</p>

<p>Label: <input id="label3" name="label3" type="text" value=""></p>
<p>File: <input id="3" name="3" type="file"> 
	<a href="http://127.0.0.1:5000/delete_field_in_template/?template_id=-1&amp;field_id=3">
		<b>Delete</b>
	</a>
</p>

<p>Label: <input id="label4" name="label4" type="text" value=""></p>
<p>Picture: <input id="4" name="4" type="file"> 
	<a href="http://127.0.0.1:5000/delete_field_in_template/?template_id=-1&amp;field_id=4">
		<b>Delete</b>
	</a>
</p>
	
<p>Label: <input id="label5" name="label5" type="text" value=""></p>
<p>
	<label for="5">Link</label>: 
	<input id="5" name="5" type="text" value=""> 
	<a href="http://127.0.0.1:5000/delete_field_in_template/?template_id=-1&amp;field_id=5">
		<b>Delete</b>
	</a>
</p> -->



<!-- <br>
				
<td><label for="fields-0-labels">Label</label></td>
<td><input id="fields-0-labels" name="fields-0-labels" required type="text" value=""></td>

<td><label for="fields-0-dates">Dates</label></td>
<td><input id="fields-0-dates" name="fields-0-dates" type="date" value=""></td>

<td><label for="fields-0-is_displayed">Display</label></td>
<td><input id="fields-0-is_displayed" name="fields-0-is_displayed" required type="checkbox" value="y"></td>

<td><label for="fields-0-doc">gogo</label></td>
<td><input id="fields-0-doc" name="fields-0-doc" type="file"></td>

<td><label for="fields-0-date">Date</label></td>
<td><textarea id="fields-0-date" name="fields-0-date"></textarea></td>

</br>


<select id="fields_list" name="fields_list">
	<option value="Text">Text</option>
	<option value="TextArea">TextArea</option>
	<option value="Date">Date</option>
	<option value="File">File</option>
	<option value="Picture">Picture</option>
	<option value="Link">Link</option>
</select> -->