{% extends "base.html" %}

{% block content %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>

	function changeIndex(form, oldIndex, newIndex){
		form.attr('id', form.attr('id').replace(oldIndex, newIndex));
		form.attr('data-index', form.attr('data-index').replace(oldIndex, newIndex));

		form.find('label').each(function(idx) {
			var $item = $(this);
			$item.attr('for', $item.attr('for').replace(oldIndex, newIndex));

		});

		form.find('input').each(function(idx) {
			var $item = $(this);
			$item.attr('id', $item.attr('id').replace(oldIndex, newIndex));
			$item.attr('name', $item.attr('name').replace(oldIndex, newIndex));
		});
		form.find('textarea').each(function(idx) {
				var $item = $(this);
				$item.attr('id', $item.attr('id').replace(oldIndex, newIndex));
				$item.attr('name', $item.attr('name').replace(oldIndex, newIndex));
		});
	}
		
	function adjustIndices(removedIndex, class_) {
		var $forms = $('.'+class_);

		$forms.each(function(i) {
			var $form = $(this);
			var index = parseInt($form.data('index'));
			var newIndex = index - 1;

			if (index < removedIndex) {
				// Skip
				return true;
			}
			changeIndex($form, index, newIndex);
		});
	}


	function removeForm() {
		var class_ =$(this).parent().attr('class');
		var $removedForm = $(this).closest('.'+class_);
		var removedIndex = parseInt($removedForm.data('index'));
		$removedForm.remove();

		// Update indices
		adjustIndices(removedIndex, class_);
	}

	function addForm(e) {
		e.preventDefault();
		var field_type = $("#fields_list").children("option:selected").val();
		var id_ = 0;
		var class_ = 0;
		if (field_type === "Text"){
			id_ = "text_fields-___-form"
			class_ = "text_fields"
		}
		else if (field_type === "TextArea"){
			id_ = "textArea_fields-___-form"
			class_ = "textArea_fields"
		}
		else if (field_type === "Date"){
			id_ = "date_fields-___-form"
			class_ = "date_fields"
		}
		else if (field_type === "Link"){
			id_ = "link_fields-___-form"
			class_ = "link_fields"
		}
		else if (field_type === "File"){
			id_ = "file_fields-___-form"
			class_ = "file_fields"
		}
		else if (field_type === "Picture"){
			id_ = "picture_fields-___-form"
			class_ = "picture_fields"
		}
		var $templateForm = $('#'+id_);
		var $lastForm = $('.'+class_).last();
		var newIndex = 0;
		if ($lastForm.length > 0) {
			newIndex = parseInt($lastForm.data('index')) + 1;
		} 

		var $newForm = $templateForm.clone();
		changeIndex($newForm, '___', newIndex);

		$('#fields-container').append($newForm);
		$newForm.addClass(class_);
		$newForm.css('display', 'flex');

		$newForm.find('.remove').click(removeForm);
	}

	$(document).ready(function() {
		$('#add_field').click(addForm);
		$('.remove').click(removeForm);
	});
</script>


	<form method="post">
		{{ form.hidden_tag() }}
		<p>{{add_field_form.fields_list.label}}: {{add_field_form.fields_list()}}</p>
		{{add_field_form.add_field}}
		
		{% for error in add_field_form.errors %}
					<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
	</form>
	
     <form method="post" enctype="multipart/form-data">
		{{ form.hidden_tag() }} 
		{{ text_form.hidden_tag() }}
		{{ textArea_form.hidden_tag() }}
		
		<p>{{ form.name.label}}: {{ form.name() }}</p>
		
		{% include "fields.html" %}

	   <p>{{ form.submit() }}</p>
	   {% for error in form.errors %}
	  		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
     </form>

	 
	 {# Form templates #}
	 <div style="display: none;" id="text_field-_-form" data-index="_">
		 <label style = "order: 1;" for="fields-_-label">Label: </label>
		 <input style = "order: 2;" id="fields-_-label" name="fields-_-label" type="text" value="">
		 <label style = "order: 5;" for="fields-_-is_displayed">Display: </label>
		 <input checked style = "order: 6;" id="fields-_-is_displayed" name="fields-_-is_displayed" type="checkbox" value="y">
		 <a style = "order: 7;" class="remove" href="#">Remove</a>
	 </div>

	 <div style="display: none;" id="text_fields-___-form" data-index="___">		
		<label for="text_fields-___-label_">Label</label>:
		<input id="text_fields-___-label_" name="text_fields-___-label_" type="text" value=""> 

		<label for="text_fields-___-text">Text</label>:
		<input id="text_fields-___-text" name="text_fields-___-text" type="text" value=""> 
		
		<label for="text_fields-___-is_displayed">Display</label>:
		<input checked id="text_fields-___-is_displayed" name="text_fields-___-is_displayed" type="checkbox" value="y"> 
	
		<a class="remove" href="#">Remove</a>
	</div>
	
	 <div style="display: none;" id="textArea_fields-___-form" data-index="___">	
		<label for="textArea_fields-___-label_">Label</label>:
		<input id="textArea_fields-___-label_" name="textArea_fields-___-label_" type="text" value=""> 
		
		<label for="textArea_fields-___-textArea">TextArea</label>:
		<textarea id="textArea_fields-___-textArea" name="textArea_fields-___-textArea"></textarea> 

		<label for="textArea_fields-___-is_displayed">Display</label>:
		<input checked id="textArea_fields-___-is_displayed" name="textArea_fields-___-is_displayed" type="checkbox" value="y"> 
		
		<a class="remove" href="#">Remove</a>
	</div>

	<div style="display: none;" id="date_fields-___-form" data-index="___">	
		<label for="date_fields-___-label_">Label</label>:
		<input id="date_fields-___-label_" name="date_fields-___-label_" type="text" value=""> 
		
		<label for="date_fields-___-date">Date</label>:
		<input id="date_fields-___-date" name="date_fields-___-date" type="date" value="">

		<label for="date_fields-___-is_displayed">Display</label>:
		<input checked id="date_fields-___-is_displayed" name="date_fields-___-is_displayed" type="checkbox" value="y"> 
		
		<a class="remove" href="#">Remove</a>
	</div>

	<div style="display: none;" id="link_fields-___-form" data-index="___">	
		<label for="link_fields-___-label_">Label</label>:
		<input id="link_fields-___-label_" name="link_fields-___-label_" type="text" value=""> 
		
		<label for="link_fields-___-link">Link</label>:
		<input id="link_fields-___-link" name="link_fields-___-link" type="text" value=""> 

		<label for="link_fields-___-is_displayed">Display</label>:
		<input checked id="link_fields-___-is_displayed" name="link_fields-___-is_displayed" type="checkbox" value="y"> 
		
		<a class="remove" href="#">Remove</a>
	</div>

	<div style="display: none;" id="file_fields-___-form" data-index="___">	
		<label for="file_fields-___-label_">Label</label>:
		<input id="file_fields-___-label_" name="file_fields-___-label_" type="text" value=""> 
		
		<label for="file_fields-___-file_">File</label>:
		<input id="file_fields-___-file_" name="file_fields-___-file_" type="file">

		<label for="file_fields-___-is_displayed">Display</label>:
		<input checked id="file_fields-___-is_displayed" name="file_fields-___-is_displayed" type="checkbox" value="y"> 
		

		<input id="file_fields-___-order" name="file_fields-___-order" type="hidden">
		<input id="file_fields-___-filename" name="file_fields-___-filename" type="hidden">
		<input id="file_fields-___-encrypted_filename" name="file_fields-___-encrypted_filename" type="hidden">
		<a class="remove" href="#">Remove</a>
	</div>

	<div style="display: none;" id="picture_fields-___-form" data-index="___">	
		<label for="picture_fields-___-label_">Label</label>:
		<input id="picture_fields-___-label_" name="picture_fields-___-label_" type="text" value=""> 
		
		<label for="picture_fields-___-picture">Picture</label>:
		<input id="picture_fields-___-picture" name="picture_fields-___-picture" type="file">

		<label for="picture_fields-___-is_displayed">Display</label>:
		<input checked id="picture_fields-___-is_displayed" name="picture_fields-___-is_displayed" type="checkbox" value="y"> 
		

		<input id="picture_fields-___-order" name="picture_fields-___-order" type="hidden">
		<input id="picture_fields-___-filename" name="picture_fields-___-filename" type="hidden">
		<input id="picture_fields-___-encrypted_filename" name="picture_fields-___-encrypted_filename" type="hidden">
		<a class="remove" href="#">Remove</a>
	</div>


{% endblock %}