{% macro render_field(form, field_type) %}
	{% for field_form in form[field_type ~ "_fields"] %}
		<div style="order:{{field_form.order.data}}" id="{{field_type}}_fields-{{ loop.index0 }}-form" class="{{field_type}}_fields" data-index="{{ loop.index0 }}">			
			{% if is_template %}
				{{ field_form.label_.label }}
				{{ field_form.label_}}
				{{ field_form[field_type].label }}
			{% else %}
				{{ field_form.label_(style = "display: none;") }}
				{{ _(field_form.label_.data)}}
			{% endif %}

			{{ field_form[field_type] }}

			{% if field_form.filename %}
				{% if field_form.filename.data %}
					<a href="{{ url_for('download_file', filename = field_form.encrypted_filename.data) }}">{{ field_form.filename.data }}</a>
				{% endif %}
				{{field_form.file_type()}}
			{% endif %}

			{{ field_form.is_displayed.label }}		
			{{ field_form.is_displayed() }}	
			
			{% if field_form.filename %}
				{{ field_form.filename() }}
				{{ field_form.encrypted_filename() }}	
			{% endif %}

			{{ field_form.order() }}

			{% for field in field_form %}					
				{% for error in field.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			{% endfor %}

			{% if is_template %}
				<a class="remove" href="#">_('Remove')</a>
			{% endif %}
		</div>
	{% endfor %}
{% endmacro %}

<div style="display: flex; flex-direction: column;" id="fields-container">
	{{render_field(dynamic_forms['text_form'], "text")}}
	{{render_field(dynamic_forms['textArea_form'], "textArea")}}
	{{render_field(dynamic_forms['date_form'], "date")}}
	{{render_field(dynamic_forms['link_form'], "link")}}	
	{{render_field(dynamic_forms['file_form'], "file")}}
	{{render_field(dynamic_forms['picture_form'], "picture")}}
</div>	
