{% extends "base.html" %}

{% block content %}
    <h1> {{ current_user.username }}</h1>
    	{% if form %}
        <form method="post">
        {{ form.hidden_tag() }}
        <p>

        </p>
        <p>{{form.add_field()}}</p>
        <p> {{ form.user_list() }} </p>
        <p>{{ form.submit() }}</p>
        
        <fieldset>
		{% for field in form %}
		  {{ field() }}
		  {% endfor %}
	</fieldset>
    	</form>
    	{% endif %}
    {% for task in tasks %}
    		{% include '_task.html' %}
    		<br>
    {% endfor %}

{% endblock %}



