{% extends "base.html" %}

{% block content %}
<div id="templates">
    
		<h3> {{ _('Choose type of task')}} </h3>
		{% for template in templates %}
			
			<div class="templates_line">
					<div class="template_create">
							<a href="{{ url_for('create_task', template_id = template.id) }}">
										{% if template.name %}
											{{ template.name }}
										{% else %}
											{{_('Template_')}}{{loop.index}}
										{% endif %}
							</a>
					</div>
					{% if current_user.roles[0].name == "Admin" %}
					<div class="template_edit">
							<a href="{{ url_for('edit_template', template_id = template.id) }}">{{ _('Edit template')}}</a>	
					</div>
					<div class="template_delete">
							<a  href="{{ url_for('delete_template', template_id = template.id) }}">{{ _('Delete template')}}</a>	
					</div>
					{% endif %}
			</div>
			
		{% endfor %}	
		
		{% if current_user.roles[0].name == "Admin" %}
			<div class="template_new">
					<a href="{{ url_for('create_task_template') }}">	{{ _('New template')}}</a>
			</div>
		{% endif %}
	
</div>
{% endblock %}



