{% extends "base.html" %}

{% block content %}

<div>
	<a href="{{ url_for('users.profile_template') }}">{{_('Profile template')}}</a>
</div>
<div>
	<p>... </p> 
</div>
<div>
		<a href="{{ url_for('sections.create_section') }}">{{_('Create section')}}</a>
</div>
<div>
		<a href="{{ url_for('change_logo') }}">{{ _('Change logo')}}</a>
</div>
<div>
	<p>... </p> 
</div>


{% for section in get_sections() %}

	<div class="user_edit">
		<div class="edit" >
			<a href="{{ url_for('sections.view_section', section_id=section.id) }}">{{ section.name }}</a>
		</div>
		<div class="edit">
			<a href="{{ url_for('sections.edit_section', section_id=section.id) }}">{{ _('Edit section') }}</a>
		</div>
		<div class="delete">
			<a href="{{ url_for('sections.delete_section', section_id=section.id) }}">{{_('Delete section')}}</a>	
		</div>
	</div>

{% endfor %}



{% for link in current_user.extra_menu_fields %}
	<div>
		<a style = "margin-right: 50px; " href="{{ link.link }}">
			{% if link.name %}
				{{ link.name }}
			{% else %}
				{{ _('Link')}}_{{link.id}}
			{% endif %}
		</a>
		<a style = "margin-right: 50px; " href="{{ url_for('rename_menu_field', link_id = link.id) }}">{{ _('Rename link')}}</a>
		<a style = "margin-right: 50px; " href="{{ url_for('delete_menu_field', link_id = link.id) }}">{{ _('Delete link')}}</a>
	</div>
{% endfor %}


{% endblock %}
