{% extends "base.html" %}

{% block content %}

<div>
	<a href="{{ url_for('profile_template') }}">Profile template</a>
</div>
<div>
	<p>... </p> 
</div>
<div>
		<a href="{{ url_for('create_section') }}">Create section</a>
</div>
<div>
	<p>... </p> 
</div>


{% for section in get_sections() %}
<div>
	<ul>
	<li><a href="{{ url_for('view_section', section_id=section.id) }}">{{ _(section.name)}}</a></li>
	<li><a href="{{ url_for('delete_section', section_id=section.id) }}">Delete section</a></li>
	</ul>	
</div>
<div>
		<p>... </p> 
		<p>... </p> 
	</div>
{% endfor %}



{% for link in current_user.extra_menu_fields %}
	<div>
		<a style = "margin-right: 50px; " href="{{ link.link }}">
			{% if link.name %}
				{{ link.name }}
			{% else %}
				{{ _('Link_')}}{{link.id}}
			{% endif %}
		</a>
		<a style = "margin-right: 50px; " href="{{ url_for('rename_menu_field', link_id = link.id) }}">{{ _('Rename link')}}</a>
		<a style = "margin-right: 50px; " href="{{ url_for('delete_menu_field', link_id = link.id) }}">{{ _('Delete link')}}</a>
	</div>
{% endfor %}


{% endblock %}
